<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:Arial,serif;font-size:7.8px;color:rgb(51,51,51);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:7.8px;color:rgb(51,51,51);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:7.8px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:7.8px;color:rgb(51,51,51);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:10.0px;color:rgb(51,51,51);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:10.0px;color:rgb(51,51,51);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:8.9px;color:rgb(51,51,51);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:8.9px;color:rgb(51,51,51);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:5.9px;color:rgb(51,51,51);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:5.9px;color:rgb(51,51,51);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:594px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="background1.jpg" width=594 height=841></div>
<div style="position:absolute;left:28.00px;top:108.26px" class="cls_003"><span class="cls_003">Пациент /</span></div>
<div style="position:absolute;left:149.22px;top:108.26px" class="cls_004"><span class="cls_004">{{FULL_NAME_BG}} /</span><span class="cls_003">   LAB ID / LAB ID:</span></div>
<div style="position:absolute;left:454.11px;top:108.26px" class="cls_004"><span class="cls_004">{{LAB_ID}}</span></div>
<div style="position:absolute;left:28.00px;top:120.75px" class="cls_003"><span class="cls_003">Name:</span></div>
<div style="position:absolute;left:149.22px;top:120.75px" class="cls_004"><span class="cls_004">{{FULL_NAME_EN}}</span></div>
<div style="position:absolute;left:28.00px;top:131.77px" class="cls_003"><span class="cls_003">Възраст/Дата на раждане /</span></div>
<div style="position:absolute;left:149.22px;top:131.77px" class="cls_004"><span class="cls_004">{{AGE}} г. / {{DATE_OF_BIRTH}} /</span></div>
<div style="position:absolute;left:303.50px;top:131.77px" class="cls_003"><span class="cls_003">Проба № / Sample №:</span></div>
<div style="position:absolute;left:454.11px;top:131.77px" class="cls_004"><span class="cls_004">{{PROBE_ID}}</span></div>
<div style="position:absolute;left:28.00px;top:144.26px" class="cls_003"><span class="cls_003">Age/DOB:</span></div>
<div style="position:absolute;left:149.22px;top:144.26px" class="cls_004"><span class="cls_004">{{AGE}} y / {{DATE_OF_BIRTH}} /</span></div>
<div style="position:absolute;left:28.00px;top:155.28px" class="cls_003"><span class="cls_003">ЕГН/PID:</span></div>
<div style="position:absolute;left:149.22px;top:155.28px" class="cls_004"><span class="cls_004">{{EGN}}</span></div>
<div style="position:absolute;left:28.00px;top:166.30px" class="cls_003"><span class="cls_003">Пол / Gender:</span></div>
<div style="position:absolute;left:149.22px;top:166.30px" class="cls_004"><span class="cls_004">{{GENDER_BG}} / {{GENDER_EN}}</span></div>
<div style="position:absolute;left:303.50px;top:166.30px" class="cls_003"><span class="cls_003">Дата на регистрация / Reg Date:</span></div>
<div style="position:absolute;left:454.11px;top:166.30px" class="cls_004"><span class="cls_004">{{REGISTRATION_DATE}} {{REGISTRATION_TIME}}</span></div>
<div style="position:absolute;left:28.00px;top:177.32px" class="cls_003"><span class="cls_003">Л.К/Паспорт №/</span></div>
<div style="position:absolute;left:149.22px;top:177.32px" class="cls_004"><span class="cls_004">{{ID_CARD_NUMBER}}</span></div>
<div style="position:absolute;left:303.50px;top:177.32px" class="cls_003"><span class="cls_003">Дата на пробовземане /</span></div>
<div style="position:absolute;left:454.11px;top:177.32px" class="cls_004"><span class="cls_004">{{PROBE_DATE}} {{PROBE_TIME}}</span></div>
<div style="position:absolute;left:28.00px;top:189.81px" class="cls_003"><span class="cls_003">Personal ID:</span></div>
<div style="position:absolute;left:303.50px;top:189.81px" class="cls_003"><span class="cls_003">Collection Date:</span></div>
<div style="position:absolute;left:303.50px;top:200.84px" class="cls_003"><span class="cls_003">Дата на резултат / Reporting Date:</span></div>
<div style="position:absolute;left:454.11px;top:200.84px" class="cls_004"><span class="cls_004">{{RESULT_DATE}} {{RESULT_TIME}}</span></div>
<div style="position:absolute;left:303.50px;top:211.86px" class="cls_003"><span class="cls_003">Материал за изследване /</span></div>
<div style="position:absolute;left:454.11px;top:211.86px" class="cls_004"><span class="cls_004">Назо-Орофарингеален секрет/</span></div>
<div style="position:absolute;left:303.50px;top:224.35px" class="cls_003"><span class="cls_003">Specimen type:</span></div>
<div style="position:absolute;left:454.11px;top:222.88px" class="cls_004"><span class="cls_004">Naso-Oropharyngeal swab</span></div>
<div style="position:absolute;left:183.32px;top:243.45px" class="cls_005"><span class="cls_005">Молекулярна Вирусология / Molecular Virology</span></div>
<div style="position:absolute;left:276.11px;top:262.55px" class="cls_003"><span class="cls_003">Референтни стойности/</span></div>
<div style="position:absolute;left:420.58px;top:262.55px" class="cls_003"><span class="cls_003">Метод/</span></div>
<div style="position:absolute;left:478.37px;top:262.55px" class="cls_003"><span class="cls_003">Производител/</span></div>
<div style="position:absolute;left:80.42px;top:268.43px" class="cls_003"><span class="cls_003">Тест/Test</span></div>
<div style="position:absolute;left:179.70px;top:268.43px" class="cls_003"><span class="cls_003">Резултат/Result</span></div>
<div style="position:absolute;left:290.00px;top:275.04px" class="cls_003"><span class="cls_003">Reference Range</span></div>
<div style="position:absolute;left:409.56px;top:275.04px" class="cls_003"><span class="cls_003">Methodology</span></div>
<div style="position:absolute;left:478.37px;top:275.04px" class="cls_003"><span class="cls_003">Test manufacturer</span></div>
<div style="position:absolute;left:30.20px;top:288.63px" class="cls_006"><span class="cls_006">COVID-19 NAAT</span></div>
<div style="position:absolute;left:184.66px;top:302.22px" class="cls_004"><span class="cls_004">отрицателен /</span></div>
<div style="position:absolute;left:405.69px;top:302.22px" class="cls_004"><span class="cls_004">Real-time PCR /</span></div>
<div style="position:absolute;left:30.20px;top:308.10px" class="cls_004"><span class="cls_004">SARS-CoV-2</span></div>
<div style="position:absolute;left:266.56px;top:308.10px" class="cls_004"><span class="cls_004">Не се детектира / Not Detected</span></div>
<div style="position:absolute;left:521.90px;top:308.10px" class="cls_004"><span class="cls_004">-</span></div>
<div style="position:absolute;left:190.25px;top:314.71px" class="cls_004"><span class="cls_004">NEGATIVE</span></div>
<div style="position:absolute;left:407.84px;top:314.71px" class="cls_004"><span class="cls_004">Real-time PCR</span></div>
<div style="position:absolute;left:28.00px;top:345.20px" class="cls_007"><span class="cls_007">Забележка:</span></div>
<div style="position:absolute;left:309.02px;top:345.20px" class="cls_007"><span class="cls_007">Note:</span></div>
<div style="position:absolute;left:28.00px;top:357.69px" class="cls_007"><span class="cls_007">* Методология на теста:</span></div>
<div style="position:absolute;left:309.02px;top:357.69px" class="cls_007"><span class="cls_007">*Test Methodology:</span></div>
<div style="position:absolute;left:28.00px;top:370.18px" class="cls_007"><span class="cls_007">In vitro диагностичен Real-time PCR тест, предназначен за откриване на РНК от</span></div>
<div style="position:absolute;left:309.02px;top:370.18px" class="cls_007"><span class="cls_007">In vitro diagnostic assay intended for Real-timePCR based detection of new SARSCoV-</span></div>
<div style="position:absolute;left:28.00px;top:382.67px" class="cls_007"><span class="cls_007">вируса SARS-CoV-2 и за потвърждаване на заболяването COVID-19 при пациенти със</span></div>
<div style="position:absolute;left:309.02px;top:382.67px" class="cls_007"><span class="cls_007">2 RNA virus for confirmation of COVID-19 disease in patients with suspect viral</span></div>
<div style="position:absolute;left:28.00px;top:395.16px" class="cls_007"><span class="cls_007">съмнение за вирусна инфекция.</span></div>
<div style="position:absolute;left:309.02px;top:395.16px" class="cls_007"><span class="cls_007">infection.</span></div>
<div style="position:absolute;left:28.00px;top:407.65px" class="cls_007"><span class="cls_007">Изпозваната методика е PCR в реално време, базирана на едновременно</span></div>
<div style="position:absolute;left:309.02px;top:407.65px" class="cls_007"><span class="cls_007">It is a real time PCR based technique based upon simultaneous examination of</span></div>
<div style="position:absolute;left:28.00px;top:420.14px" class="cls_007"><span class="cls_007">изследване на ORF1ab / RdRp/ E и N-гени.</span></div>
<div style="position:absolute;left:309.02px;top:420.14px" class="cls_007"><span class="cls_007">ORF1ab/RdRp/ E and N-genes.</span></div>
<div style="position:absolute;left:28.00px;top:432.63px" class="cls_007"><span class="cls_007">**Интерпретация на резултатите:</span></div>
<div style="position:absolute;left:309.02px;top:432.63px" class="cls_007"><span class="cls_007">**Results Interpretation:</span></div>
<div style="position:absolute;left:28.00px;top:445.12px" class="cls_007"><span class="cls_007">- ОТРИЦАТЕЛЕН - показва, че SARS-CoV-2 РНК или не присъства в пробата,</span></div>
<div style="position:absolute;left:309.02px;top:445.12px" class="cls_007"><span class="cls_007">- NEGATIVE - indicates that SARS-CoV-2 RNA is either not present in the specimen or</span></div>
<div style="position:absolute;left:28.00px;top:457.61px" class="cls_007"><span class="cls_007">или присъства в концентрация под долната граница на откриване, посочена от</span></div>
<div style="position:absolute;left:309.02px;top:457.61px" class="cls_007"><span class="cls_007">is present at a concentration below the assay’s lower limit of detection.</span></div>
<div style="position:absolute;left:28.00px;top:470.10px" class="cls_007"><span class="cls_007">производителя на теста.</span></div>
<div style="position:absolute;left:309.02px;top:470.10px" class="cls_007"><span class="cls_007">- NEGATIVE WITH RECOMMENDATIONS FOR RETEST - This result may be influenced</span></div>
<div style="position:absolute;left:28.00px;top:482.59px" class="cls_007"><span class="cls_007">- ОТРИЦАТЕЛЕН С ПРЕПОРЪКА ЗА РЕТЕСТ - Резултатът се влияе от стадия на</span></div>
<div style="position:absolute;left:309.02px;top:482.59px" class="cls_007"><span class="cls_007">by the stage of the infection and the quality of the specimen collected for testing.</span></div>
<div style="position:absolute;left:28.00px;top:495.08px" class="cls_007"><span class="cls_007">инфекцията и качеството на взетата проба. Показва, че е открит само един от</span></div>
<div style="position:absolute;left:309.02px;top:495.08px" class="cls_007"><span class="cls_007">Indicates that only one of multiple genes is detected. Low viral load possible. Please</span></div>
<div style="position:absolute;left:28.00px;top:507.57px" class="cls_007"><span class="cls_007">множество таргетни гени. Възможно е ниско вирусно натоварване. Моля, изпратете</span></div>
<div style="position:absolute;left:309.02px;top:507.57px" class="cls_007"><span class="cls_007">send a repeat sample after 72- 96 hours and correlate clinically.</span></div>
<div style="position:absolute;left:28.00px;top:520.06px" class="cls_007"><span class="cls_007">повторна проба след 72-96 часа и корелирайте клинично.</span></div>
<div style="position:absolute;left:309.02px;top:520.06px" class="cls_007"><span class="cls_007">- POSITIVE - indicates that SARS-CoV-2 RNA is present in this specimen. Results</span></div>
<div style="position:absolute;left:28.00px;top:532.55px" class="cls_007"><span class="cls_007">- ПОЛОЖИТЕЛЕН - показва, че SARS-CoV-2 РНК присъства във вашата проба.</span></div>
<div style="position:absolute;left:309.02px;top:532.55px" class="cls_007"><span class="cls_007">should be interpreted in the context of all available laboratory and clinical findings.</span></div>
<div style="position:absolute;left:28.00px;top:545.04px" class="cls_007"><span class="cls_007">Резултатите трябва да се интерпретират в контекста на всички налични</span></div>
<div style="position:absolute;left:28.00px;top:557.53px" class="cls_007"><span class="cls_007">лабораторни и клинични находки.</span></div>
<div style="position:absolute;left:71.00px;top:566.35px" class="cls_006"><span class="cls_006">Валидирано от Доц. Д-р Евелина Шикова</span></div>
<div style="position:absolute;left:347.99px;top:566.35px" class="cls_006"><span class="cls_006">Approved by Assoc. Prof. Evelina Shikova</span></div>
<div style="position:absolute;left:108.36px;top:603.81px" class="cls_006"><span class="cls_006">- КРАЙ НА СПРАВКАТА -</span></div>
<div style="position:absolute;left:393.82px;top:603.81px" class="cls_006"><span class="cls_006">- END OF REPORT -</span></div>
<div style="position:absolute;left:28.00px;top:617.04px" class="cls_007"><span class="cls_007">Лабораторните резултати не са диагноза, а основание за такова. Приемането на каквито и</span></div>
<div style="position:absolute;left:305.35px;top:617.04px" class="cls_007"><span class="cls_007">Laboratory results are not a diagnosis, but a reason for such. Taking any medication without</span></div>
<div style="position:absolute;left:28.00px;top:625.12px" class="cls_007"><span class="cls_007">да било лекарствени средства, без лекарско предписание, може да бъде опасно за вашето</span></div>
<div style="position:absolute;left:305.35px;top:625.12px" class="cls_007"><span class="cls_007">a prescription can be dangerous to your health. Please consult the results with doctor only.</span></div>
<div style="position:absolute;left:28.00px;top:633.20px" class="cls_007"><span class="cls_007">здраве. Моля, обръщайте се за тълкуване на резултатите само към лекар.</span></div>
<div style="position:absolute;left:532.38px;top:814.42px" class="cls_002"><span class="cls_002">1 / 1</span></div>
</div>

</body>
</html>
