<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Generator</title>
    <style>
        div {
            margin-bottom: 0.5rem;
        }
    </style>
</head>

<body>
    <div>
        <label for="fullNameBG">Full name BG</label>
        <input id="fullNameBG" type="text" />
    </div>
    <div>
        <label for="fullNameEN">Full name EN</label>
        <input id="fullNameEN" type="text" />
    </div>
    <div>
        <label for="age">Age</label>
        <input id="age" type="number" />
    </div>
    <div>
        <label for="dateOfBirth">Date of birth (31.12.2000)</label>
        <input id="dateOfBirth" type="text" />
    </div>
    <div>
        <label for="egn">EGN</label>
        <input id="egn" type="text" />
    </div>
    <div>
        <label for="gender">Gender</label>
        <select name="gender" id="gender">
            <option>
                male
            </option>
            <option>
                female
            </option>
        </select>
    </div>
    <div>
        <label for="idCardNumber">ID CARD NUMBER</label>
        <input id="idCardNumber" type="text" />
    </div>
    <div>
        <label for="labId">Lab ID</label>
        <input id="labId" type="text" />
    </div>
    <div>
        <label for="probeId">Probe ID</label>
        <input id="probeId" type="text" />
    </div>
    <div>
        <label for="registrationDate">Date of registration (31.12.2000)</label>
        <input id="registrationDate" type="text" />
    </div>
    <div>
        <label for="registrationTime">Time of registration (12:41)</label>
        <input id="registrationTime" type="text" />
    </div>
    <div>
        <label for="probeDate">Date of probe (31.12.2000)</label>
        <input id="probeDate" type="text" />
    </div>
    <div>
        <label for="probeTime">Time of probe (12:41)</label>
        <input id="probeTime" type="text" />
    </div>
    <div>
        <label for="resultDate">Date of result (31.12.2000)</label>
        <input id="resultDate" type="text" />
    </div>
    <div>
        <label for="resultTime">Time of result (31.12.2000)</label>
        <input id="resultTime" type="text" />
    </div>
    <div>
        <button id="button">GENERATE</button>
    </div>

</body>

</html>

<script>
    document.getElementById('button').addEventListener('click', async () => {
        const fullNameBG = document.getElementById('fullNameBG').value;
        const fullNameEN = document.getElementById('fullNameEN').value;
        const age = document.getElementById('age').value;
        const dateOfBirth = document.getElementById('dateOfBirth').value;
        const egn = document.getElementById('egn').value;
        const genderEn = document.getElementById('gender').value;
        const genderBg = genderEn === 'male' ? 'мъж' : 'жена';
        const idCardNumber = document.getElementById('idCardNumber').value;
        const labId = document.getElementById('labId').value;
        const probeId = document.getElementById('probeId').value;
        const registrationDate = document.getElementById('registrationDate').value;
        const registrationTime = document.getElementById('registrationTime').value;
        const probeDate = document.getElementById('probeDate').value;
        const probeTime = document.getElementById('probeTime').value;
        const resultDate = document.getElementById('resultDate').value;
        const resultTime = document.getElementById('resultTime').value;

        let certHtml = await fetch('./cert.html').then(res => res.text());
        certHtml = certHtml.replace('{{FULL_NAME_BG}}', fullNameBG);
        certHtml = certHtml.replace('{{FULL_NAME_EN}}', fullNameEN);
        certHtml = certHtml.replace('{{AGE}}', age);
        certHtml = certHtml.replace('{{DATE_OF_BIRTH}}', dateOfBirth);
        certHtml = certHtml.replace('{{EGN}}', egn);
        certHtml = certHtml.replace('{{GENDER_EN}}', genderEn);
        certHtml = certHtml.replace('{{GENDER_BG}}', genderBg);
        certHtml = certHtml.replace('{{ID_CARD_NUMBER}}', idCardNumber);
        certHtml = certHtml.replace('{{LAB_ID}}', labId);
        certHtml = certHtml.replace('{{PROBE_ID}}', probeId);
        certHtml = certHtml.replace('{{REGISTRATION_DATE}}', registrationDate);
        certHtml = certHtml.replace('{{REGISTRATION_TIME}}', registrationTime);
        certHtml = certHtml.replace('{{PROBE_DATE}}', probeDate);
        certHtml = certHtml.replace('{{PROBE_TIME}}', probeTime);
        certHtml = certHtml.replace('{{RESULT_DATE}}', resultDate);
        certHtml = certHtml.replace('{{RESULT_TIME}}', resultTime);

        const tab = window.open('', '_blank');
        tab.document.write(certHtml);
        tab.document.title = 'Живи и здрави!';
        tab.window.print();
        tab.document.close();
    });
</script>